In [56]:
import matplotlib.pyplot as plt
import  numpy as np
import  pandas as pd
import os
from sklearn.model_selection import train_test_split

### *0.1* LOAD DATA

In [90]:
df_data= pd.read_csv(os.path.join('..','data', 'cs-training.csv'))

### *0.2* SPLITING THE DATA

In [94]:
# Defining X and Y
garbage_columns= ["ID","SeriousDlqin2yrs", "NumberOfTime30-59DaysPastDueNotWorse"]
X_train, X_test, y_train, y_test = train_test_split( df_data.drop(garbage_columns, axis=1), df_data["SeriousDlqin2yrs"], test_size=0.2)
# Remving NA values
X_train.dropna(inplace=True)
X_test.dropna(inplace=True)

y_train= y_train[X_train.index]
y_test= y_test[X_test.index]
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(96250, 9) (24019, 9) (96250,) (24019,)

## **DATA INFORMATION**

### 0.1 GENERAL INFORMATIONS

In [97]:
df_data.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,150000.0,75000.500000,43301.414527,1.0,37500.750000,75000.500000,112500.250000,150000.0
SeriousDlqin2yrs,150000.0,0.066840,0.249746,0.0,0.000000,0.000000,0.000000,1.0
balance_divided_creditlimit,150000.0,6.048438,249.755371,0.0,0.029867,0.154181,0.559046,50708.0
age,150000.0,52.295207,14.771866,0.0,41.000000,52.000000,63.000000,109.0
NumberOfTime30-59DaysPastDueNotWorse,150000.0,0.421033,4.192781,0.0,0.000000,0.000000,0.000000,98.0
DebtRatio,150000.0,353.005076,2037.818523,0.0,0.175074,0.366508,0.868254,329664.0
MonthlyIncome,120269.0,6670.221237,14384.674215,0.0,3400.000000,5400.000000,8249.000000,3008750.0
NumberOfOpenCreditLinesAndLoans,150000.0,8.452760,5.145951,0.0,5.000000,8.000000,11.000000,58.0
NumberOfTimes90DaysLate,150000.0,0.265973,4.169304,0.0,0.000000,0.000000,0.000000,98.0
NumberRealEstateLoansOrLines,150000.0,1.018240,1.129771,0.0,0.000000,1.000000,2.000000,54.0
number_times_latepay60-89,150000.0,0.240387,4.155179,0.0,0.000000,0.000000,0.000000,98.0
NumberOfDependents,146076.0,0.757222,1.115086,0.0,0.000000,0.000000,1.000000,20.0

In [96]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 12 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   ID                                    150000 non-null  int64
 1   SeriousDlqin2yrs                      150000 non-null  int64
 2   balance_divided_creditlimit           150000 non-null  float64
 3   age                                   150000 non-null  int64
 4   NumberOfTime30-59DaysPastDueNotWorse  150000 non-null  int64
 5   DebtRatio                             150000 non-null  float64
 6   MonthlyIncome                         120269 non-null  float64
 7   NumberOfOpenCreditLinesAndLoans       150000 non-null  int64
 8   NumberOfTimes90DaysLate               150000 non-null  int64
 9   NumberRealEstateLoansOrLines          150000 non-null  int64
 10  number_times_latepay60-89             150000 non-null  int64
 11  NumberOfDependents                    146076 non-null  float64
dtypes: float64(4), int64(8)
memory usage: 13.7 MB

### 0.2 FEATURE ENGINEERING

In [99]:
df_data.rename(columns={"Unnamed: 0": "ID",
                          "RevolvingUtilizationOfUnsecuredLines": "balance_divided_creditlimit", 
                         "NumberOfTime60-89DaysPastDueNotWorse": "number_times_latepay60-89"}, inplace=True)

,balance_divided_creditlimit,age,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,number_times_latepay60-89,NumberOfDependents
105211,0.000000,24,0.000000,400.0,2,0,0,0,0.0
8524,0.457132,53,0.298906,16081.0,17,0,3,0,3.0
22919,0.006317,55,0.078118,11200.0,17,0,0,0,1.0
76630,0.009712,65,0.272745,5000.0,26,0,1,0,0.0
145858,0.000000,38,0.309069,10000.0,7,0,2,0,0.0

In [61]:
print(X_train.shape, "----", X_test.shape)

(96289, 9) ---- (23980, 9)